*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: #1B72E8;
}

.sidebar{
    background-color: green;
    height: 100vh;
    width: 80px;
}

.sidebar-short{
    width: 100%;
    height: 100%;
    display: block;
}

.sidebar-extended{
    display: none;
    width: 100%;
    height: 100%;
}

.top-sidebar{
    height: 85%;
    background-color: aquamarine;
}

.bottom-sidebar{
    height: 15%;
    background-color: purple;
}

.main-content{
    width: calc(100% - 80px);
    height: 100vh;
    background-color: goldenrod;
}

main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.h_200{
    height: 150px;
}

.custom-button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}





@media screen and (min-width: 960px) {
    .sidebar-short{
    display: none;
}

    .sidebar-extended{
        display: block;
}
    
    .main-content{
    width: calc(100% - 100px);
    background-color: rgb(32, 134, 218);
}

    .sidebar{
    width: 150px;
}

    .top-sidebar{
    background-color: rgb(255, 127, 255);
}

.bottom-sidebar{
    background-color: rgb(2, 0, 128);
}

}

