*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
} */

.blue{
    background-color: #1B72E8;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
}

.header-short{
    display: block;
}

.header-long{
    display: none;
}

.link-hover:hover{
    background-color: rgba(182, 182, 182, 0.342);
}

.logo-phone{
    width: 50px;
}


.sidebar{
    background-color: #051E34;
    height: calc(100vh - 75px);
    width: 80px;
}

.sidebar-short{
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-origin: content-box, padding-box;
}

.sidebar-extended{
    display: none;
    width: 100%;
    height: 100%;
    background: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-origin: content-box, padding-box;
}

.top-sidebar{
    height: 85%;
}

.bottom-sidebar{
    height: 15%;
}

.main-content{
    width: calc(100% - 80px);
    height: calc(100% - 75px);
    overflow-y: auto;
}

main{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    margin-top: 75px;
}

.h_200{
    height: 150px;
}

.custom-button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}


.avatar{
    width: 20px;
}

.radiuss{
    border-radius: 10px;
}

.bak_title{
    border-bottom: 1px solid lightgray;

}




@media screen and (min-width: 960px) {
    .sidebar-short{
    display: none;
}

    .sidebar-extended{
        display: block;
}
    
    .main-content{
    width: calc(100% - 100px);
}

    .sidebar{
    width: 150px;
}

.font_size{
    font-size: 14px;
}

    .header-short{
    display: none;
}

    .header-long{
        display: block;
}

}

